# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build output
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Logs / temp
*.log
*.tmp
*.pbxproj.backup
*.backup
